.ProfileMenu {
    width: 100vw;
    height: 30vh;
    background-color: #36205D;
    display: flex;
}

.Profile {
    width: 40vw;
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Avatar {
    margin-top: 3vh;
    width: 12vw;
    height: 24vh;
    background-color: black;
}

.Stats {
    margin-top: 3vh;
    width: 20vw;
    height: 25vh;
}

